@charset "UTF-8";
@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css");
@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@300;400;500;700;800&family=Open+Sans&display=swap");
html {
  font-size: 18px;
}
@media screen and (max-width: 768px) {
  html {
    font-size: 17px;
  }
}
@media screen and (max-width: 480px) {
  html {
    font-size: 16px;
  }
}

html,
body {
  height: 100%;
}

body {
  font-family: "Alegreya Sans", Arial, Helvetica, sans-serif;
  line-height: 1.42;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  color: #666666;
}

.body__hide-overflow {
  overflow: hidden;
}

.wrapper {
  position: relative;
  width: 100%;
  min-height: 100%;
  overflow: hidden;
}

.container {
  width: 95%;
  max-width: 940px;
  margin: 0 auto;
  position: relative;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0rem;
  font-weight: normal;
}

table {
  border-collapse: collapse;
}

ul {
  padding: 0rem;
  margin: 0rem;
}
ul li {
  list-style: none;
}

p {
  padding: 0;
  margin: 0;
}

footer {
  position: relative;
  width: 100%;
}

* {
  box-sizing: border-box;
}

a {
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
}

.section {
  height: 100vh;
  min-height: 36.1111111111rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.section--font-color--green {
  color: #0b4d3c;
}
.section--font-color--green .section__title {
  color: inherit;
}

.section__title {
  font-size: 2.6666666667rem;
  font-weight: bold;
  margin-bottom: 2.2222222222rem;
  text-align: center;
  text-transform: uppercase;
  color: #000;
}
@media screen and (max-width: 480px) {
  .section__title {
    font-size: 2.2222222222rem;
  }
}

.hero {
  background: url("../img/decore/узор 1.png") right bottom no-repeat;
  background-color: #61c4d9;
  height: 100vh;
  min-height: 36.1111111111rem;
  color: #fff;
  position: relative;
}
@media screen and (max-width: 768px) {
  .hero {
    background-position: right bottom 88%;
  }
}
@media screen and (max-width: 768px) {
  .hero:before, .hero:after {
    display: none;
  }
}
.hero::before {
  content: url("../img/decore/Лист 3.svg");
  position: absolute;
  bottom: -2.2222222222rem;
  left: 2%;
}
.hero::after {
  content: url("../img/decore/comp-top.png");
  position: absolute;
  bottom: -2.2222222222rem;
  right: 0;
}

.hero__title-section {
  width: 46%;
}
@media screen and (max-width: 768px) {
  .hero__title-section {
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .hero__title-section:before {
    content: "";
    background-image: url(../img/decore/comp-header-phones.png);
    margin-bottom: 16px;
    background-size: contain;
    background-repeat: no-repeat;
    width: 18.0555555556rem;
    height: 20.6666666667rem;
    background-position: center;
  }
}

@media screen and (max-width: 768px) {
  .hero__icons-section {
    display: none;
  }
}

.hero__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 1.3333333333rem 0rem 2.5rem;
  background: url("../img/decore/Батончики.png") right center/50% auto no-repeat;
}
@media screen and (max-width: 768px) {
  .hero__container {
    background: none;
  }
}

.hero__main-title {
  font-size: 2.6666666667rem;
  line-height: 1.1;
  font-weight: bold;
  margin-bottom: 0.8333333333rem;
  text-transform: uppercase;
}

.hero__title-desc {
  font-size: 1.1666666667rem;
  margin-bottom: 2.5555555556rem;
  padding-right: 10%;
}
@media screen and (max-width: 768px) {
  .hero__title-desc {
    padding: 0 25%;
  }
}
@media screen and (max-width: 480px) {
  .hero__title-desc {
    padding: 0 10%;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.menu {
  margin: 0 30px;
  padding-top: 5px;
}

.menu__list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}

.menu__item {
  margin-right: 0.8333333333rem;
  margin-bottom: 10px;
}
.menu__item:last-child {
  margin-right: 0;
}

.menu__link {
  text-decoration: none;
}

.phone-number {
  font-size: 1.3333333333rem;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.phone-number__icon {
  flex-shrink: 0;
}

.phone-number__icon-elem {
  width: 0.6666666667rem;
  height: 0.6666666667rem;
  margin-right: 0.3333333333rem;
}

@media screen and (max-width: 768px) {
  .phone-number.header__phone-number {
    display: none;
  }
}

.phone-number__text {
  white-space: nowrap;
}

@media screen and (max-width: 768px) {
  .menu {
    display: none;
  }
}

.menu__item {
  margin-right: 1.5rem;
}
.menu__item:last-child {
  margin-right: 0rem;
}

.menu__link {
  text-decoration: none;
  white-space: nowrap;
}

.menu__list--vertical {
  display: flex;
  flex-direction: column;
}

.menu--vertical {
  font-size: 36px;
  color: #fff;
  display: block;
}

.hamburger {
  width: 24px;
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
  height: 20px;
  display: none;
}
@media screen and (max-width: 768px) {
  .hamburger {
    display: inline-flex;
  }
}

.hamburger__plank {
  display: block;
  background: #fff;
  height: 4px;
  border-radius: 10px;
}

.features {
  display: flex;
}

.features__item {
  margin-right: 2.5555555556rem;
}
.features__item:last-child {
  margin-right: 0;
}

.feature {
  display: flex;
}

.feature__icon {
  width: 2.5rem;
  margin-right: 0.3888888889rem;
}

.feature__text {
  font-size: 0.8888888889rem;
  max-width: 4.7222222222rem;
}

.btn {
  font-size: 1.0555555556rem;
  font-weight: bold;
  padding: 1rem 1.9444444444rem;
  text-transform: uppercase;
  border-radius: 5.5555555556rem;
  text-decoration: none;
  border: none;
  cursor: pointer;
}
.btn--theme--white {
  background: #fff;
  color: #0b4d3c;
}
.btn--theme--white:hover {
  color: #fff;
  background: #0b4d3c;
}
.btn--theme--green {
  background: #0b4d3c;
  color: #fff;
}
.btn--theme--green:hover {
  color: #0b4d3c;
  background: #fff;
}
.btn--theme--transparent {
  background: transparent;
  color: #0b4d3c;
  text-transform: none;
  font-weight: normal;
}
.btn--theme--transparent:hover {
  color: #0b4d3c;
  font-weight: bold;
}

.headline {
  text-align: center;
}

.headline__title {
  margin-bottom: 1rem;
}
@media screen and (max-width: 480px) {
  .headline__title {
    font-size: 40px;
    margin-bottom: 0.2777777778rem;
  }
}

.headline__subtitle {
  padding: 0 26%;
  margin-bottom: 2.7222222222rem;
}
@media screen and (max-width: 480px) {
  .headline__subtitle {
    padding: 0 5%;
  }
}

.benefit {
  text-align: center;
}
@media screen and (max-width: 480px) {
  .benefit {
    display: flex;
    text-align: left;
  }
}

.benefit__image-wrapper {
  display: inline-block;
  width: 7rem;
  height: 7rem;
  position: relative;
  background: #f2f5f4;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 1.1111111111rem;
}

.benefit__icon {
  width: 4.1666666667rem;
  height: 3.8333333333rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.benefit__title {
  color: #292929;
  font-weight: 700;
  font-size: 27px;
  margin-bottom: 1rem;
}
@media screen and (max-width: 480px) {
  .benefit__title {
    margin-bottom: 0.7777777778rem;
  }
}

.benefit__image {
  margin-bottom: 1.0555555556rem;
}
@media screen and (max-width: 480px) {
  .benefit__image {
    margin-bottom: 0;
    margin-right: 1.1111111111rem;
  }
}

.benefits {
  display: flex;
  text-align: center;
}
@media screen and (max-width: 480px) {
  .benefits {
    flex-direction: column;
  }
}

.benefits__item {
  flex: 1;
  padding: 0 3%;
  position: relative;
}
@media screen and (max-width: 480px) {
  .benefits__item {
    padding: 0;
    margin-bottom: 0;
  }
}
.benefits__item::before {
  content: url("../img/decore/Combined shape 2204.svg");
  position: absolute;
  top: 1.6666666667rem;
  right: 0rem;
  transform: translate(50%);
}
@media screen and (max-width: 480px) {
  .benefits__item::before {
    display: none;
  }
}
.benefits__item:first-child {
  padding-left: 0;
}
.benefits__item:last-child {
  padding-right: 0;
}
.benefits__item:last-child::before {
  display: none;
}

.benefits-section {
  background: url("../img/decore/узор лист 1.png") left top 57% no-repeat;
  position: relative;
}
@media screen and (max-width: 480px) {
  .benefits-section {
    background: none;
  }
}
@media screen and (max-width: 768px) {
  .benefits-section {
    background-position: left top 10%;
  }
}
.benefits-section:before {
  content: url("../img/decore/малина 1.png");
  position: absolute;
  bottom: -4.4444444444rem;
  left: 0rem;
}
@media screen and (max-width: 480px) {
  .benefits-section:before {
    display: none;
  }
}

.reviews-section {
  position: relative;
  background: url("../img/decore/отзывы-лист.svg") left bottom no-repeat;
}
.reviews-section:before {
  content: url("../img/decore/отзывы-ягоды*.svg");
  position: absolute;
  bottom: 4.4444444444rem;
}
.reviews-section::after {
  content: url("../img/decore/отзывы-ягода.svg");
  position: absolute;
  top: 8.3333333333rem;
  right: 0;
}
@media screen and (max-width: 768px) {
  .reviews-section::after {
    top: 0rem;
  }
}

.reviews__display {
  background: #f8faf9;
  padding: 2.3333333333rem 7.8888888889rem 2.3333333333rem 2.3333333333rem;
  margin-bottom: 1.1111111111rem;
  overflow: hidden;
  position: relative;
}
@media screen and (max-width: 768px) {
  .reviews__display {
    padding: 3.1111111111rem 1.3888888889rem 1.3888888889rem;
  }
}
.reviews__display::before {
  content: "";
  display: block;
  width: 5rem;
  height: 5rem;
  background: #fff;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  top: -3.6111111111rem;
}
.reviews__display::after {
  content: url("../img/decore/отзывы-ветка.svg");
  position: absolute;
  top: 1.1111111111rem;
  right: 0rem;
}

.reviews__list {
  position: relative;
  min-height: 15.5555555556rem;
}

.reviews__item {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  transition: 0.3s;
  opacity: 0;
}
.reviews__item--active {
  position: static;
  opacity: 1;
  pointer-events: unset;
}

.reviews__display-inner {
  display: flex;
  position: relative;
}
@media screen and (max-width: 768px) {
  .reviews__display-inner {
    flex-direction: column;
    text-align: center;
    align-items: center;
  }
}

.reviews__switcher {
  display: flex;
  justify-content: center;
}

.reviews__avatar {
  width: 14.1111111111rem;
  height: 14.4444444444rem;
  z-index: 1000;
}
@media screen and (max-width: 768px) {
  .reviews__avatar {
    width: 7.2222222222rem;
    height: 7.3333333333rem;
  }
}

.reviews__avatar-img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.reviews__content {
  flex: 1;
  margin-left: 2.2222222222rem;
  padding-top: 1.1111111111rem;
}
@media screen and (max-width: 768px) {
  .reviews__content {
    margin-left: 0;
  }
}
@media screen and (max-width: 480px) {
  .reviews__content {
    margin-left: 0;
  }
}

.reviews__title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 0.6666666667rem;
  color: black;
}

.reviews__text {
  margin-bottom: 0.6666666667rem;
}

.reviews__author {
  font-size: 1rem;
  font-weight: bolder;
  color: black;
}

.interactive-avatar {
  width: 4.4444444444rem;
  height: 4.4444444444rem;
  border: 0.3333333333rem solid transparent;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
}
.interactive-avatar--active {
  border-color: #0f5a47;
}
.interactive-avatar:hover {
  border-color: #0f5a47;
}

.interactive-avatar__link {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: block;
}

.interactive-avatar__img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.order-section {
  background: url("../img/decore/order-bg.png") center center/cover no-repeat;
  position: relative;
}
.order-section::before {
  content: url("../img/decore/section-order-blueberry.png");
  position: absolute;
  left: 2.2777777778rem;
  bottom: 3.8333333333rem;
}
@media screen and (max-width: 480px) {
  .order-section::before {
    display: none;
  }
}
.order-section::after {
  content: url("../img/decore/section-order-leaf.png");
  position: absolute;
  right: 0.5555555556rem;
  bottom: 3.2222222222rem;
}
@media screen and (max-width: 480px) {
  .order-section::after {
    display: none;
  }
}

.form {
  display: flex;
}
@media screen and (max-width: 768px) {
  .form {
    flex-direction: column;
    padding: 0 19%;
  }
}
@media screen and (max-width: 480px) {
  .form {
    padding: 0 0;
  }
}

.form__col {
  flex: 1;
  margin-right: 1.3888888889rem;
}
.form__col:last-child {
  margin-right: 0rem;
}
@media screen and (max-width: 768px) {
  .form__col {
    margin-right: 0px;
  }
}

.form__row {
  display: flex;
  margin-bottom: 1rem;
}

.form__block {
  flex: 1;
  margin-right: 1.1111111111rem;
}
.form__block:last-child {
  margin-right: 0rem;
}

.form__input {
  width: 100%;
  border: none;
  padding: 1rem 0.6111111111rem;
  border: solid 0.1666666667rem transparent;
}
@media screen and (max-width: 768px) {
  .form__input {
    padding: 0.2777777778rem;
  }
}
.form__input--textarea {
  height: 8.4444444444rem;
  resize: none;
  border-radius: 0.2777777778rem;
}
@media screen and (max-width: 768px) {
  .form__input--textarea {
    height: 4.5555555556rem;
  }
}
.form__input:focus {
  border-color: #dee2bd;
  outline: none;
}

.input-error {
  border: 3px solid orangered;
}

.form__controls {
  display: flex;
  flex-wrap: wrap;
  padding: 0.8333333333rem 0 0.2777777778rem 0.2777777778rem;
}
@media screen and (max-width: 480px) {
  .form__controls {
    justify-content: center;
  }
}

.form__btns {
  padding: 2.5555555556rem 0.5555555556rem;
  display: flex;
  justify-content: center;
}

.radio {
  display: flex;
  cursor: pointer;
  -webkit-user-select: none;
          user-select: none;
}
.radio--checkbox .radio__visible {
  border-radius: 0;
}
.radio--checkbox .radio__visible:before {
  background: url("../img/decore/Vector.svg") center center no-repeat;
}

.radio__elem {
  display: none;
}
.radio__elem:checked ~ .radio__visible:before {
  display: block;
}

.radio__visible {
  width: 1.4444444444rem;
  height: 1.4444444444rem;
  position: relative;
  border-radius: 50%;
  background: #fff;
  margin-right: 0.5555555556rem;
}
.radio__visible::before {
  content: "";
  width: 0.7777777778rem;
  height: 0.7777777778rem;
  background: #365a49;
  border-radius: 50%;
  position: absolute;
  display: none;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.radio__title {
  margin-right: 1.1111111111rem;
}

.fixed-menu {
  position: fixed;
  top: 20%;
  right: 3%;
  z-index: 100;
}

.fixed-menu__item {
  margin-bottom: 0.2777777778rem;
}
.fixed-menu__item--active .fixed-menu__link {
  border-color: #fff;
}

.fixed-menu__link {
  width: 0.8888888889rem;
  height: 0.8888888889rem;
  border-radius: 50%;
  border: 0.0555555556rem solid transparent;
  display: block;
  position: relative;
}
.fixed-menu__link::before {
  content: "";
  display: block;
  width: 0.3333333333rem;
  height: 0.3333333333rem;
  border-radius: 50%;
  background: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.map {
  background: url(../img/map.png) center center no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
}

.phone-number__text--color--green {
  color: #0b4d3c;
}

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 1.1111111111rem 0;
  background: #fff;
}

.footer__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 480px) {
  .footer__container {
    flex-direction: column;
  }
}

.socials {
  display: flex;
}

.socials__item {
  padding-left: 0.7777777778rem;
}

.contacts {
  font-style: normal;
  font-size: 1.1111111111rem;
  color: #010101;
}
@media screen and (max-width: 480px) {
  .contacts {
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.fullscreen-menu {
  position: fixed;
  top: -100000px;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #313131;
  z-index: 200;
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}
.fullscreen-menu--active {
  visibility: visible;
  top: 0;
  opacity: 1;
  transition: all 0.5s ease-in-out;
}

.fullscreen-menu__item {
  margin: 0;
  position: relative;
}
.fullscreen-menu__item::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #61c4d9;
  transition: width 0.3s ease-out;
}
.fullscreen-menu__item:hover::after {
  width: 100%;
}

.fullscreen-menu__close {
  background-image: url(../img/crosshair.svg);
  position: absolute;
  top: 2.3333333333rem;
  right: 2.3333333333rem;
  width: 20px;
  height: 20px;
}

.slider-section {
  background-color: #F8FAF9;
}

.slider {
  position: relative;
}

.bx-wrapper {
  border: 0;
  background: transparent;
  box-shadow: none;
}

.slider__item {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 768px) {
  .slider__item {
    flex-direction: column;
  }
}

.slider__contains {
  margin-bottom: 1.2777777778rem;
}

.slider__preview {
  width: 100%;
  margin-right: 2.4444444444rem;
}
@media screen and (max-width: 768px) {
  .slider__preview {
    display: flex;
    justify-content: center;
  }
}

.slider__img {
  max-width: 100%;
  min-height: auto;
}
@media screen and (max-width: 768px) {
  .slider__img {
    max-width: 60%;
  }
}
@media screen and (max-width: 480px) {
  .slider__img {
    min-width: 85%;
  }
}

.slider__content {
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 768px) {
  .slider__content {
    justify-content: center;
    align-items: center;
    padding: 0 6.6666666667rem;
    text-align: center;
  }
}
@media screen and (max-width: 480px) {
  .slider__content {
    padding: 0 2.7777777778rem;
  }
}

.slider__title {
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: bold;
  color: #292929;
  margin-bottom: 23px;
}
@media screen and (max-width: 768px) {
  .slider__title {
    font-size: 1.6666666667rem;
  }
}

.slider__text {
  margin-bottom: 1.1111111111rem;
}

.slider__columns {
  display: flex;
  margin-bottom: 1.3333333333rem;
}
.slider__columns:last-child {
  margin-right: 0px;
}

.slider__col {
  display: flex;
  flex-direction: column;
  margin-right: 2.4444444444rem;
}
@media screen and (max-width: 768px) {
  .slider__col {
    align-items: flex-start;
  }
}

.slider__value {
  color: #000;
  font-weight: bold;
}

.slider__row {
  display: flex;
  align-items: center;
}

.slider__price {
  font-size: 3.3333333333rem;
  font-weight: lighter;
  color: #000;
  margin-right: 1.1111111111rem;
}

.slider__btn {
  position: absolute;
  top: 50%;
  transform: translate(-50%);
  cursor: pointer;
  z-index: 1000;
}
@media screen and (max-width: 768px) {
  .slider__btn {
    top: 20%;
  }
}

.slider__btn--prev {
  transform: rotate(180deg);
  left: -2%;
}

.slider__btn--next {
  right: -3%;
}

.contains {
  background: url(../img/click.svg);
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  width: 5.0555555556rem;
  height: 5.0555555556rem;
  cursor: pointer;
}
.contains:hover .contains__menu {
  left: 100%;
  opacity: 1;
  transition: opacity 0.5s;
}
@media screen and (max-width: 768px) {
  .contains {
    display: none;
  }
}
@media screen and (max-width: 480px) {
  .contains {
    display: none;
  }
}

.contains__menu {
  position: absolute;
  background: rgba(255, 255, 255, 0.9);
  box-shadow: 4px 4px 40px rgba(0, 0, 0, 0.06);
  border-radius: 4px;
  left: -10000px;
  display: flex;
  flex-direction: column;
  padding: 1.6666666667rem;
  width: 15.1666666667rem;
  opacity: 0;
  transition: opacity 0.5s;
}

.contains__item {
  display: flex;
  align-items: center;
  margin-bottom: 1.5555555556rem;
  color: #000000;
  font-weight: 500;
}
.contains__item:last-child {
  margin-bottom: 0;
}

.contains__img {
  margin-right: 0.8888888889rem;
}

.contains__value {
  margin-left: auto;
}

.team-section {
  position: relative;
}
.team-section::before {
  content: "";
  background-image: url(../img/team-leaf.png);
  position: absolute;
  background-repeat: no-repeat;
  top: -11.1111111111rem;
  right: 0;
  min-width: 10.8888888889rem;
  min-height: 25.1666666667rem;
}
.team-section::after {
  content: "";
  background-image: url(../img/blueberry.png);
  position: absolute;
  background-repeat: no-repeat;
  top: -1.3888888889rem;
  right: 0;
  min-width: 7.5rem;
  min-height: 7.2222222222rem;
  z-index: 1000;
}

.team {
  display: flex;
  justify-content: space-between;
}

.team__item {
  flex: 1;
  text-align: center;
  margin-right: 1.1111111111rem;
  max-width: 12.2222222222rem;
  position: relative;
}
.team__item:last-child {
  margin-right: 0;
}
@media screen and (max-width: 768px) {
  .team__item {
    margin-right: 0;
    margin-bottom: 0.8888888889rem;
  }
}

.team__member {
  margin-bottom: 1.1111111111rem;
}

.team__title {
  color: #323232;
  display: inline-flex;
  align-items: center;
  background-color: transparent;
  border: none;
  font-weight: bold;
  font-size: 1.1666666667rem;
  position: relative;
  cursor: pointer;
  margin-bottom: 0.4444444444rem;
}
.team__title::after {
  content: "";
  background-image: url("../img/triangle.svg");
  background-repeat: no-repeat;
  position: absolute;
  left: 100%;
  bottom: 25%;
  width: 0.5rem;
  height: 0.5rem;
}

.team__content {
  overflow: hidden;
  height: 0;
  transition: height 0.3s;
}

.team__desc {
  font-weight: 400;
  color: #292929;
}

.team--version--desktop {
  position: absolute;
  top: 100%;
}
@media screen and (max-width: 768px) {
  .team--version--desktop {
    display: none;
  }
}

.team--version--mobile {
  top: 100%;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 768px) {
  .team--version--mobile {
    display: flex;
  }
}

.team__content-block {
  padding-bottom: 0.2777777778rem;
}

.modal {
  display: none;
}

.modal__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.modal__content {
  margin-bottom: 20px;
}

.error-modal {
  color: red;
}