.benefits{
  display: flex;
  text-align: center;

  @include phones{
    flex-direction: column;
  }
}

.benefits__item{
  flex: 1;
  padding: 0 3%;
  position: relative;

  @include phones{
    padding: 0;
    margin-bottom: 0;
  }

  &::before{
    content: url("../img/decore/Combined\ shape\ 2204.svg");
    position: absolute;
    top: rem(30px);
    right: rem(0px);
    transform: translate(50%);

    @include phones{
      display: none;
    }
  }

  &:first-child{
    padding-left: 0;
  }

  &:last-child{
    padding-right: 0;

    &::before{
      display: none;
    }
  }
}

