.btn{
  font-size: rem(19px);
  font-weight: bold;
  padding: rem(18px) rem(35px);
  text-transform: uppercase;
  border-radius: rem(100px);
  text-decoration: none;
  border: none;
  cursor: pointer;

  &--theme--white{
    background: #fff;
    color: $darkGreen;
    
    &:hover{
      color: #fff;
      background: $darkGreen;
    }
  }


  &--theme--green{
    background: $darkGreen;
    color: #fff; 

    &:hover{
      color: $darkGreen;
      background: #fff;
    }
  }


  &--theme--transparent{
    background: transparent;
    color: $darkGreen;
    text-transform: none;
    font-weight: normal;
    
    &:hover{
      color: $darkGreen;
      font-weight: bold;
    }
  }
}