.headline{
  text-align: center;
}


.headline__title{
  margin-bottom: rem(18px);

  @include phones{
    font-size: 40px;
    margin-bottom: rem(5px);
  }
}

.headline__subtitle{
  padding: 0 26%;
  margin-bottom: rem(49px);

  @include phones{
    padding: 0 5%;
  }
}