.menu{
  @include tablets{
    display: none;
  }
}


.menu__item{
  margin-right: rem(27px);
  
  &:last-child{
  margin-right: rem(0px);
  }
}

.menu__link{
  text-decoration: none;
  white-space: nowrap;
}

.menu__list--vertical{
  display: flex;
  flex-direction: column;
  
}

.menu--vertical{
  font-size: 36px;
  color: #fff;
  display: block;

}