.order-section{
  background: url("../img/decore/order-bg.png") center center / cover no-repeat;
  position: relative;
  
  &::before{
    content: url("../img/decore/section-order-blueberry.png");
    position: absolute;
    left: rem(41px);
    bottom: rem(69px);

    @include phones{
      display: none;
    }
  
  }

  &::after{
    content: url("../img/decore/section-order-leaf.png");
    position: absolute;
    right: rem(10px);
    bottom: rem(58px);

    @include phones{
      display: none;
    }
  }
}